<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender System</title>
</head>
<body>
    <h1>Movie Recommender System</h1>
    <form method="POST">
        <label for="movie">Which movie do you want to watch?</label><br><br>
        <select name="movie" id="movie">
            {% for movie in movies %}
                <option value="{{ movie }}" {% if movie == selected_movie %}selected{% endif %}>{{ movie }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Recommend">
    </form>

    {% if recommendations %}
        <h2>Recommended Movies:</h2>
        <ul>
            {% for rec in recommendations %}
                <li>{{ rec }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
